body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editPics{
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  
}

.ui.segment.editPicsContainer{
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  width: 750px;
}
.nestedEditPicsContainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ui.segment.nestedHikeCard{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hikeCardSinglePhoto{
  height: auto;
}

.imgCard{
  max-width: 50%;
  height:auto;
}

.photoMap{
  max-width: 30%;
  height: auto;
}

.photoMapContainer{
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ui.segment.picsSegment{
  display: flex;
  flex-direction: column;
 
}
.nestedPhotosMap{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}