body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/1/1b/Shivalik_Hills_-_winter_morning.jpg');
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.editPics{
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  
  
}

.ui.segment.editPicsContainer{
  /* margin-top: 30px; */
  display: flex;
  flex-direction: column;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 10px;
  width: 750px;
}
.nestedEditPicsContainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ui.segment.nestedHikeCard{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background-color:rgb(241, 236, 229); */
  
}

.hikeCardSinglePhoto{
  height: auto;
  /* background-color:rgb(241, 236, 229); */
}

.imgCard{
  max-width: 50%;
  height:auto;
}

.photoMap{
  max-width: 30%;
  height: auto;
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.ui.segment.picsSegment{
  display: flex;
  flex-direction: column;
}
.nestedPhotosMap{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5%;
}

.ui.segment.mainCard{
  background-color: rgb(243, 245, 227);
  /* background-color:rgb(227, 240, 235); */
}

.ui.segment.cardSegments{
   background-color:rgb(255, 255, 255);
}

